/* - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - */

@media (min-width: 0px) and (max-width: 576px) {

    *{
        cursor: default;
    }

    .cursor {
        display: none;
    }

    /* - - - Main Hero Section - - - */

    .heading-primary {
        font-size: 40px;
        font-weight: 200;
    }

    .letter {
        margin: 0 35px;
    }

    .second-letter {
        display: inline-block;
        transform: translateY(-200px);
        animation: moveInUp600 5s ease-out;
    
    }
    
    .third-letter {
        display: inline-block;
        transform: translateY(200px);
        animation: moveInDown600 5s ease-out;
    }
    
    .fourth-letter {
        display: inline-block;
        transform: translateY(-200px);
        animation: moveInUp600 5s ease-out;
    }

    .styled-btn:link,
    .styled-btn:visited {
    font-size: 0.6rem;
    background-color: rgba(0,0,0,0.0);
    }

    .styled-btn::before {
        content: "";
        background-color: rgba(0,0,0,0.0);
    }
    
    .styled-btn:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

   
    /* - - - - - - - - - - Dictionary Section - - - - - - - - - - */


    .main-section {
        padding: 2rem 0rem;
    }

    .search-card-box:last-child {
        margin-top: 3rem;
    }

    .btn-use {
        padding: 10px 20px;
        margin-bottom: 20px;
        margin-top: 2rem;
    
    }

    .btn-use:hover {
        background-color: transparent;
        text-decoration: none;
        color: #fff !important;
    }

    .search-card {
        padding: 2rem 0.5rem 0.5rem 0.5rem;;
    }

    .search-card-header-title {
        font-size: 1.2rem;
    }

    .search-card-input {
        width: 250px;
    }

    .search-card-body {
        margin: 3rem 0rem 0rem 0rem;
    }

    .search-card-body-content {
        height: 250px;
    }
    
    .search-card-trusty-percentage {
        margin: 2rem 0rem 2rem 0rem;
    }

    .prev-def-btn,
    .next-def-btn {
        margin-top: 0rem !important;
    }

}

@media (min-width: 576px) and (max-width: 992px) {

    *{
        cursor: default;
    }

    .cursor {
        display: none;
    }
  

    /* - - - Main Hero Section - - - */

    .heading-primary {
        font-family: 'Lato', sans-serif;
        font-size: 80px;
        font-weight: 200;
    }

    .letter {
        margin: 0 40px;
    }

    .second-letter {
        display: inline-block;
        transform: translateY(-200px);
        animation: moveInUp600 5s ease-out;
    
    }
    
    .third-letter {
        display: inline-block;
        transform: translateY(200px);
        animation: moveInDown600 5s ease-out;
    }
    
    .fourth-letter {
        display: inline-block;
        transform: translateY(-200px);
        animation: moveInUp600 5s ease-out;
    }

    .styled-btn:link,
    .styled-btn:visited {
    font-size: 1.1rem;
    background-color: rgba(0,0,0,0.0);
    }

    .styled-btn::before {
        content: "";
        background-color: rgba(0,0,0,0.0);
    }
    
    .styled-btn:hover::before {
        transform: scaleY(1);
        width: 100%;
    }


    /* - - - - - - - - - - Dictionary Section - - - - - - - - - - */

    .main-section {
        padding: 0rem 0rem;
    }

    .search-card-box {
        margin-top: 3rem;
    }

    .btn-use {
        padding: 10px 20px;
        margin-bottom: 20px;
        margin-top: 2rem;
    
    }

    .btn-use:hover {
        background-color: transparent;
        text-decoration: none;
        color: #fff !important;
    }

    .search-card {
        padding: 2rem 0.5rem 0.5rem 0.5rem;;
    }

    .search-card-header-title {
        font-size: 1.2rem;
    }

    .search-card-input {
        width: 250px;
    }

    .search-card-body {
        margin: 3rem 0rem 0rem 0rem;
    }

    .search-card-body-content {
        height: 250px;
    }
    
    .search-card-trusty-percentage {
        margin: 2rem 0rem 2rem 0rem;
    }

    .prev-def-btn,
    .next-def-btn {
        margin-top: 0rem !important;
    }


}

@media (min-width: 992px) and (max-width: 1200px) {

    *{
        cursor: default;
    }

    .cursor {
        display: none;
    }

    /* - - - Main Hero Section - - - */

    .heading-primary {
        font-family: 'Lato', sans-serif;
        font-size: 130px;
        font-weight: 200;
    }

    .letter {
        margin: 0 70px;
    }

    .second-letter {
        display: inline-block;
        transform: translateY(-200px);
        animation: moveInUp600 5s ease-out;
    
    }
    
    .third-letter {
        display: inline-block;
        transform: translateY(200px);
        animation: moveInDown600 5s ease-out;
    }
    
    .fourth-letter {
        display: inline-block;
        transform: translateY(-200px);
        animation: moveInUp600 5s ease-out;
    }

    .styled-btn:link,
    .styled-btn:visited {
    font-size: 1.3rem;
    background-color: rgba(0,0,0,0.0);
    }

    .styled-btn::before {
        content: "";
        background-color: rgba(0,0,0,0.0);
    }
    
    .styled-btn:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    .search-card-input {
        width: 300px;
    }

    /* - - - - - - - - - - Dictionary Section - - - - - - - - - - */

    
    .prev-def-btn,
    .next-def-btn {
        margin-top: 1rem !important;
    }


}


@media (min-width: 1200px) and (max-width: 1800px){

    /* - - - Main Hero Section - - - */

    .heading-primary {
        font-family: 'Lato', sans-serif;
        font-size: 170px;
        font-weight: 200;
    }

    .letter {
        margin: 0 90px;
    }

    .second-letter {
        display: inline-block;
        transform: translateY(-200px);
        animation: moveInUp600 5s ease-out;
    
    }
    
    .third-letter {
        display: inline-block;
        transform: translateY(200px);
        animation: moveInDown600 5s ease-out;
    }
    
    .fourth-letter {
        display: inline-block;
        transform: translateY(-200px);
        animation: moveInUp600 5s ease-out;
    }

    .styled-btn:link,
    .styled-btn:visited {
    font-size: 1.1rem;
    background-color: rgba(0,0,0,0.0);
    }

    .styled-btn::before {
        content: "";
        background-color: rgba(0,0,0,0.0);
    }
    
    .styled-btn:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    .search-card-input {
        width: 300px;
    }


}

}


