body {
    background-color: #ccc;
}

.container {
    max-width: 900px;
}
.app {
    margin-top: 100px;
}
.card {
    max-width: 400px
}
.header {
    font-size: 30px;
}

.copy {
    font-size: 15px;
}

.history {
    margin-top: 100px;
}

.history-header {
    font-size: 30px;
    padding: 25px;
}

.history-item {
    padding: 5px;
    border-bottom: 1px solid #333;
}

.clear-history-btn {
    margin-top: 25px;
}

.clear-db-history-btn {
    margin-top: 25px;
    margin-left: 10px;
}
